.HH-cNav
{
    padding: 1.56% 12.5%;
    background-color: var(--DarkPrimary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.HH-ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    list-style: none;
    color: var(--PrimaryColo);
    padding: 0;
    margin: 0;
}
.HH-ul .HH-cNav-link{
    margin-right:48px ;
    padding-bottom: 12px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    cursor: pointer;
    display: block;
}

.HH-cNav-link.active {
    border-bottom: 4px solid var(--PrimaryColo);
    
  }
.HH-span
{
    color: var(--PrimaryColo);
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    font-family: 'Inter';
}
@media (max-width:1200px) and (min-width:992px)
{
    .HH-ul .HH-cNav-link{
        margin-right:30px ;
        font-size: 1rem;
        line-height: 20px;
    }
    .HH-span
    {
        font-size: 1rem;
        line-height: 20px;
    }
}
@media (max-width:992px) and (min-width:768px)
{
    .HH-ul .HH-cNav-link{
        margin-right:25px ;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .HH-span
    {
        font-size: 0.8rem;
        line-height: 20px;
    }
}
@media (max-width:768px) and (min-width:567px)
{
    .HH-ul .HH-cNav-link{
        margin-right:20px ;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .HH-span
    {
        font-size: 0.8rem;
        line-height: 20px;
    }
}
@media (max-width:567px) and (min-width:300px)
{
    .HH-ul .HH-cNav-link{
        margin-right:15px ;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .HH-span
    {
        font-size: 0.8rem;
        line-height: 20px;
    }
}