.OE_price {
    background-color: var(--DarkPrimary);
    padding: 8.75% 12.5%;
    font-family:" Inter";
}

.OE_price_cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.OE_price_h1 {
    font-size: 3.625rem;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 70.19px;
    color: var(--SecondColor);
    width: max-content;
}

.OE_item1 {
    width: 32.4%;
    background-color: var(--SecondColor);
    color: var(--DarkPrimary);
    margin-top: 9%;
    margin-bottom: 12.8%;
    padding: 3rem 4.25rem 3rem 3.1875rem;
    
}

.OE_item2 {
    width: 32.4%;
    height: 67.7%;
    background-color: var(--priceCard2);
    margin-top: 3.5%;
    color: var(--SecondColor);
    padding: 3rem 4.25rem;
}

.OE_item3 {
    width: 32.4%;
    margin-top: 9%;
    background-color: var(--MainCard1);
    color: var(--DarkPrimary);
    margin-bottom: 12.8%;
    padding: 3rem 4.25rem;
}

.OE_price_h2 {
    font-family: 'Inter';
    font-size: 34px;
    font-weight: 700;
    line-height: 41.15px;
    text-align: left;

}

.OE_ul {
    list-style-type: square;
    padding-left: 1rem;
}

.OE_li_1 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 22px;
    margin-top: 2.93rem;
}

.OE_li_2,
.OE_li_3,
.OE_li_4,
.OE_li_5 {
    font-family:'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 22px;
}

.OE_price1 {
    margin-top: 7.25rem;
    font-family:' Inter';
    font-size:24px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}

.OE_item1 .OE_price1 {
    margin-top: 40.4%;
    color: #6D6D77;
}

.OE_item3 .OE_price1 {
    margin-top: 7.4375rem;
    color: #6D6D77;
}

.OE_price2 {
    margin-top: 2%;
    font-family: 'Inter';
    font-size: 3.625rem;
    font-weight: 700;
    line-height: 40.19px;
    text-align: left;
}

.OE_price_button {
    max-width: 163px;
    padding: 16px 36px;
    margin-top: 18px;
    border: none;
    font-size:1.5rem ;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 26px;
}

.OE_item1 .OE_price_button,.OE_item3 .OE_price_button{
    color: var(--SecondColor);
    background-color: var(--DarkPrimary);
}

.OE_item2 .OE_price_button{
    color:var(--priceCard2);
    background-color: var(--SecondColor);
}

@media (max-width:1548px) and (min-width:1200px)
{
    .OE_item1,.OE_item3,.OE_item2
    {
        padding: 2.7rem;
        
    }
    .OE_price2
    {
        font-size: 2.5rem !important;
    }
    
}
/* @media (min-width: 200px) and (max-width: 576px) {
    .OE_price_cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .OE_item2,
    .OE_item1,
    .OE_item3 {
        width: 60.86vw;
        margin: 9% auto;
    }
    .OE_price_h2 {
        font-size: 20px;
    }
}



@media (min-width: 576px) and (max-width: 768px) {
    .OE_price_cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .OE_item2,
    .OE_item1,
    .OE_item3 {
        width: 39.86vw;
        margin: 9% auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .OE_price_cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .OE_item2 {
        width: 39.86%;
        margin-top: 9%;
        margin-bottom: 12.8%;
    }
    .OE_item1 {
        width: 39.86%;
    }
    .OE_item3 {
        width: 39.86%;
    }
    .OE_item1 .OE_price1 {
        margin-top: 31.4%;
    }
} */