.OE_Dashboard {
    padding-left: 1.563%;
    font-family: 'Montserrat';
    background-color: #FFFBFE;
}

.OE_Title {
    display: flex;
    justify-content: space-between;
    padding-top: 4.167%;
    padding-bottom: 1.953%
    /* padding-left: 1.563%; */
}

.OE_Table {
    padding-left: 1.563%;
    width: 82.4%;
}

.OE_Thead {
    border-top: 1px solid #E5E5E5;
    /* padding-bottom: 1%; */
}

.OE_Title p {
    font-size: 1.375rem;
    font-weight: bold;
    /* line-height:1.39% ; */
    color: #000000;
    text-align: left;
}


/* .OE_Line{
    width: 57%;
    height: 1px;
    background-color: #E5E5E5;
    padding-top:1% ;
} */

.OE_dashboard_btn {
    color: #FFFFFF;
    width: 229.11px;
    height: 44px;
    margin-right: 1.82789%;
    background-color: #504DEE;
    border-radius: 4px;
    border: none;
    padding-left: 29.93px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
}

.OE_Thead th {
    color: #ACACAC;
    /* width:max-content; */
    /* height: 15px; */
    padding-top: 1.284%;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    text-align: left;
}

.OE_Thead th:nth-child(1) {
    padding-left: 8%
}

.OE_images {
    display: flex;
}

.OE_img_delete {
    /* margin-left: 17.46%; */
    margin-left: 33px
}

.OE_img_edit {
    /* margin-left: 17.46%; */
    margin-left: 33px
}

.OE_img_view {
    /* margin-left: 32.67%; */
    margin-left: 82px
}

.OE_Search_Notification {
    display: flex;
    justify-content: end;
    padding-top: 6.937%;
    /* background-color: #FFFFFF; */
}

.OE_img_notification {
    padding-right: 17.574%;
    padding-left: 2.082%;
}

.OE_img_search {
    position: absolute;
    bottom: 27%;
    right: 5.8%;
}

.OE_tbody_tr {
    background-color: #FFFFFF;
    border: 16px solid #FFFBFE;
}

.OE_search_input {
    border: solid #E5E5E5 1px;
    width: 100%;
    height: 37px;
    border-radius: 8px;
}

.OE_Table td {
    padding-top: 1.553%;
    padding-bottom: 1.054%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.OE_search_bar {
    position: relative;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

@media (max-width:1200px) and (min-width:992px) {
    .OE_Table td {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .OE_Table td {
        font-size: 10px;
    }
    .OE_dashboard_btn {
        width: 171.11px;
    }
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-thumb {
        background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        border-radius: 100px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .OE_dashboard_btn {
        margin-right: 6.82789%;
        width: 151.11px;
        padding-left: 5px;
    }
}

@media (min-width: 200px) and (max-width: 576px) {
    .OE_dashboard_btn {
        margin-right: 8.82789%;
        width: 131.11px;
        font-size: 12px;
        padding-left: 5px;
    }
}