.AM-Programm .button{
    display: flex;
    gap: 21px;
    padding: 30px 0;
    animation: 35s slide infinite linear;
}
.AM-Programm .button button{
    outline: none;
    padding: 1.125rem 4.69rem;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
}
.AM-Programm{
    position: relative;
    overflow: hidden;
}
.AM-Programm::after , .AM-Programm::before{
    position: absolute;
    top: 0;
    width: 5.56rem;
    height: 100%;
    content: "";
    z-index: 2;

}
.AM-Programm::before{
    left: 0;
    background: linear-gradient(to left , rgba(255,255,255,0),white);
}
.AM-Programm::after{
    right: 0;
    background: linear-gradient(to right , rgba(255,255,255,0),white);
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
.AM-Programm:hover .button{
    animation-play-state: paused;
}

@media (min-width:992px) and (max-width:1200px){
    .AM-Programm .button button {
        padding: 3px 41px;
        background-color: white;
    }
    .AM-Programm .button {
        gap: 1rem;
    }
}
@media (min-width:768px) and (max-width:991px){
    .AM-Programm .button button {
        padding: 4px 21px;
    }
    .AM-Programm .button {
        gap: 1rem;
    }
}
@media (min-width:567px) and (max-width:767px){
    .AM-Programm .button {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .AM-Programm .button button {
        padding: 2px 11px;
    }
}
@media (min-width:300px) and (max-width:566px){
    .AM-Programm .button button {
        padding: 0px 17px;
    }
    .AM-Programm .button{
        flex-wrap: wrap;
        justify-content: center;
        animation: none !important;
    }
    .AM-Programm::after , .AM-Programm::before{
        display: none;
    }
    .AM-Programm .button {
        gap: 4px;
    }
        
}
