.AM-DISCOVER{
    padding: 8.75% 12.5%;
    background-color: var( --PrimaryColo);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    gap: 8.5%;
    /* flex-wrap: wrap; */
}
.AM-DISCOVER .div1{

    display: flex;
    flex-direction: column; 
    margin-top: 85px;
    width: 27.8125rem;
}
.AM-DISCOVER .div1 p{
    color: #6D6D77;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Inter';
    margin-bottom: 62px;
    width: 22.8125rem;
}
.AM-DISCOVER .div1 h2{
    font-weight: 700;
    font-size: 3.625rem;
    font-family: 'Inter';
    margin-bottom: 28px;
    line-height: 70.19px;
    width: 27.8125rem;
}
.AM-DISCOVER .div1 button{
    width: 141px;
    padding: 16px 36px;
    color: white;
    background-color: #19191C;
    border: 1px solid #19191C;
}
.AM-DISCOVER .card1 img ,.AM-DISCOVER .card2 img{
    width: 100%;
    padding: 36px;
}

.AM-DISCOVER .card1 {
    background-color: white;
    text-align: center;
    height: 456px;
    width: 21.5625rem;
    margin-top: 141px;
   
}
.AM-DISCOVER .card2{
    background-color: white;
    text-align: center; 
    height: 527px;
    width: 29.1875rem;
    
}

.AM-DISCOVER .img{
   position: absolute;
   right: 2.85%;
   bottom: 7.69%;
}
.AM-DISCOVER .cards{
    display: flex;
    gap: 20px;
    z-index: 1;
    width:52rem;
    
}

@media (min-width:992px) and (max-width:1200px)
{
    
    .AM-DISCOVER .div1 h2
    {
        font-size: 2.2rem;
        line-height: normal;
    }
    .AM-DISCOVER .div1 p
    {
        font-size: 1rem;
    }
    .AM-DISCOVER .div1 button
    {
        min-width: min-content;
        padding: 11px;
        font-size: 1rem;
        font-weight: 500;
    }
    .AM-DISCOVER{
        padding: 186px 12.5% ;
        flex-wrap: wrap;
        gap: 70px;
    }
    .AM-DISCOVER .img {
       display: none;
    }
    .AM-DISCOVER .card1 ,.AM-DISCOVER .div1  {
        margin-top: 0;
    }
    .AM-DISCOVER .cards .card2 , .AM-DISCOVER .cards .card1{
        height: 100%;
        width: 50%;
    }
    .AM-DISCOVER .div1 p {
        text-align: center;
    }
     .AM-DISCOVER .div1{
        align-items: center;
     }
   
}

@media (min-width:768px) and (max-width:991px){

    .AM-DISCOVER{
        padding: 160px 12.5%;
        flex-wrap: wrap;
        gap: 70px;
    }
    .AM-DISCOVER .div1 h2 {    
        font-size: 2rem;
    }
    .AM-DISCOVER .card1 ,.AM-DISCOVER .div1  {
        margin-top: 0;
    }
    .AM-DISCOVER .cards .card2 , .AM-DISCOVER .cards .card1{
        height: 100%;
        width: 50%;
    }
    .AM-DISCOVER .div1 p {
        text-align: center;
    }
     .AM-DISCOVER .div1{
        align-items: center;
     }


}
@media (min-width:567px) and (max-width:767px){
    
    .AM-DISCOVER .img{
        display: none;
    }
    .AM-DISCOVER .cards .card2 , .AM-DISCOVER .cards .card1{
        height: 100%;
        width: 50%;
    }
    .AM-DISCOVER .card1 ,.AM-DISCOVER .div1  {
        margin-top: 0;
    }
    .AM-DISCOVER{
        gap: 50px;
        padding: 100px 12.5%;
        flex-wrap: wrap;
    }
    .AM-DISCOVER .div1 p {
        text-align: center;
        margin-bottom: 34px;
    }
     .AM-DISCOVER .div1{
        align-items: center;
     }
     .AM-DISCOVER .div1 h2{
        font-size: 2.225rem;
     }
    
}
@media (min-width:300px) and (max-width:566px){
    
    .AM-DISCOVER .cards .card2 , .AM-DISCOVER .cards .card1{
        height: 100%;
        width: 50%;
    }
    .AM-DISCOVER .div1 p {
        text-align: center;
        margin-bottom: 34px;
    }
     .AM-DISCOVER .div1{
        align-items: center;
        width: 100%;
     }
     .AM-DISCOVER .card1 ,.AM-DISCOVER .div1  {
        margin-top: 0;
    }
    
    .AM-DISCOVER .img{
        display: none;
    }
    .AM-DISCOVER .cards .card2 img , .AM-DISCOVER .cards .card1 img{
        padding: 0;
    }
    .AM-DISCOVER{
        padding: 60px 12.5%;
        gap: 70px;
        flex-wrap: wrap;
    }
    .AM-DISCOVER .cards .card2 h3, .AM-DISCOVER .cards .card1 h3{
        font-size: 1.18rem;
     }
     .AM-DISCOVER .div1 button {
        width: 126px;
        padding: 10px 36px;}
}
@media (min-width:1300px){
    .AM-DISCOVER{
        padding: 168px 12.5%;
    }
    .AM-DISCOVER .cards .card1 , .AM-DISCOVER .cards .card2{
        height: 364px;
        width: 273px;
    }
}
