@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.BA-custom-form {
  display: flex;
  flex-direction: column;
  max-width: 728px;
}
.BA-custom-form h2 {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  margin: 10.99% 0 15.11% 0;
  color: black;
}

.BA-custom-form label {
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.BA-custom-form label p {
  color: #6f7482;
  font-size: 16px;
  margin-bottom: 2px;
}

.BA-custom-form label p span {
  color: #ed0131;
}

.BA-custom-form label input{
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.BA-custom-form label input,
.BA-custom-form label textarea {
  resize: none;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #f8fafc;
  border: none;
  outline: none;
  border-radius: 4px;
}

.BA-custom-form label input:focus,
.BA-custom-form label textarea:focus {
  outline: 1px solid #999;
}

.BA-custom-form label textarea {
  height: 150px;
}

.BA-custom-form label textarea::-webkit-scrollbar {
  display: none;
}

.BA-custom-form button {
  width: fit-content;
  padding-block: 11px;
  padding-inline: 70px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #504dee;
  color: white;
  margin-inline: auto;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .BA-custom-form label input,
  .BA-custom-form label textarea {
    width: 100%;
  }
}
