.FM-main-section-2  {
    width: 100%;
    padding: 8.75% 0;
    background-color: var(--SecondColor);
}
.FM-main-section-2-content {
    width: 75%;
    margin: 0 auto;
}
.FM-main-section-2-content h2{
    color: var(--DarkPrimary);
    width: 38.25rem;
    font-family: 'Inter';
    font-size: 3.625rem;
    font-weight: 700;
    margin-bottom: 3.8%;
}
.FM-main-section-2-content-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FM-main-section-2-content-links div:nth-child(1){
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.FM-main-section-2-content-links h6{
    font-family: 'Inter';
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
    margin-right: 4.763%;
}
.FM-main-section-2-content-links div:nth-child(1) h6:nth-child(1){
    padding-bottom: 0.625%;
    border-bottom: 4px solid var(--DarkPrimary);
}
.FM-discoverData-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.FM-main-section-2-content-see-more {
    width: max-content !important;
    height: 39.6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FM-main-section-2-content-see-more h6{
    width: max-content !important;
    margin-right: 18px;
    margin-bottom: 0;
}

@media (max-width:1200px) and (min-width:576px) {
    .FM-main-section-2-content h2{
        font-size: 2.2rem;
        width: 25rem;
        line-height: normal;
    }
    .FM-main-section-2-content h6{
        font-size: 1rem;
    }
}
@media screen and (max-width:992px) {

    .FM-main-section-2-content-links{
        flex-direction: column;
        align-items: flex-start;
    }
    .FM-main-section-2-content-links div:nth-child(1) {
        width: 100% !important;
        margin-bottom: 25px;
    }
}
@media (max-width:576px) and (min-width:300px)
{
    .FM-main-section-2-content h2{
        font-size: 1.5rem;
        width: 15rem;
        line-height: 30px;
    }
    .FM-main-section-2-content h6{
        font-size: 0.80rem;
        line-height: 20px;
    }

}