.HH-course
{
    padding: 4.6% 12.5%;
    background-color: var(--DarkPrimary);
    display: flex;
    justify-content: space-between;
    color: var(--PrimaryColo);
    position: relative;
    overflow: hidden;
}
.HH-info
{
    width: 8rem;
    font-family: 'Inter';
    font-size: 3.625rem;
    font-weight: 700;
    line-height: 70.19px;
    color:var(--SecondColor);
}
.HH-span
{
    width: 4.5rem;
    font-family: 'Inter';
    font-size: 1.125rem;
    margin-right: 0.75rem;
    font-weight: 700;
    line-height: 21.78px;
}
.HH-text
{
    display: flex;
    align-items: center;
    width: 70%;
}

.HH-i
{
    width: 30.375rem;
    margin:0 5.375rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: var(--SecondColor);
}
.HH-btn
{
    min-width: 220px ;
    padding: 16px 36px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 21.78px;
    border: none;
    color: var(--PrimaryColo);
    background-color: var(--priceCard2);
}
.HH-rectangle1
{
    position: absolute;
    left:29.43% ;
    top: -13px;
    height: max-content;
}
.HH-Ellipse1
{
    position: absolute;
    left: 23.7%;
    bottom: -9px;
}
.HH-rectangle2
{
    position: absolute;
    left: 50.6%;
    bottom: -13.88px;
    
}
.HH-Ellipse2
{
    position: absolute;
    left: 57.87%;
    top: 60px;
}
.HH-Vector
{
 position: absolute;
 left: 67.3%;
 top: 37.03px;


}
.HH-rectangle3
{
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 41.4px;
    left: 78%;

}
.HH-Ellipse3
{
    position: absolute;
    left: 84.21%;
    top: -23px;
}
.HH-div2
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HH-btn-v
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px) and (min-width:992px)
{

}
@media (max-width:992px) and (min-width:768px)
{

}
@media (max-width:1200px) and (min-width:992px)
{
    .HH-course
    {
        padding:0 5%;
    }
}
@media (max-width:1200px) and (min-width:992px)
{

}
