.AM-traning{
    padding: 190px 12.5% ;
    display: flex;
    justify-content: space-between;
}
.AM-traning h2{
    
    font-size: 2.5rem;
    
}
.AM-traning .parentCard{
    display: flex;
    justify-content: space-between;
    
}
.AM-traning .parentCard {
    display: flex;
    gap: 30px;
    margin-left: 78px;
}
.AM-traning .card{
    position: relative;
    border: none;
    /* width: 70%; */
}
.AM-traning .card .line::after{

    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: black;
    bottom: 63%;
    right: 0;
        
}
.AM-traning .parentCard .cards .card p{
    color: #6D6D77;
    ;
}
@media (min-width:992px) and (max-width:1024px){
    .AM-DISCOVER , .AM-traning {
        padding: 190px 2.5%;}
        .AM-DISCOVER .card2{
            right: 2.5%;
        }
    
}


@media (min-width:768px) and (max-width:991px){
    .AM-DISCOVER .card2 img {
        width: 269px;
    }
    .AM-DISCOVER .card1 img{
        width: 214px;
    }
    .AM-DISCOVER , .AM-traning {
        padding: 160px 2.5%;}
    .AM-DISCOVER .div1 h2 ,.AM-traning h2 {    
        font-size: 2rem;
    }
    .AM-traning .card .line::after {
        bottom: 69%;
    }
    .AM-DISCOVER .card2{
        right: 2.5%;
        height: 339px;
    }
    .AM-DISCOVER .card1{
        height: 295px;
    }
    .AM-traning  {
        flex-wrap: wrap;
        gap: 40px;
    }
    .AM-traning .parentCard{
        margin-left: 0;
    }
   


}
@media (min-width:567px) and (max-width:767px){
    .AM-DISCOVER .card2 {
        height: 310px;
        bottom: 5%;
        margin-bottom: 19px;
    }
    .AM-DISCOVER .card2 img , .AM-DISCOVER .card1 img{
        width: 220px;
        
        padding: 17px;
    }
    .AM-DISCOVER .card1 {
        right: 2.5%;
        top: 11%;
    }
    .AM-DISCOVER .img{
        display: none;
    }
    .AM-DISCOVER .div1 {
        width: 60%;
    }
    .AM-DISCOVER .card1 , .AM-DISCOVER .card2{
        height: 271px;
    }
    .AM-traning{
        flex-wrap: wrap;
        gap: 17px;
        padding-top: 100px;
        padding-bottom: 100px;
        

    }
    .AM-traning .parentCard{
        margin-left: 0;
    }
    .AM-traning h2 {
        text-align: center;
    }
    .AM-traning .card .line::after{
        bottom: 70%;
    }
    .AM-DISCOVER .card2{
        right: 2.5%;
    }
}
@media (min-width:300px) and (max-width:566px){
    .AM-DISCOVER .card2 img , .AM-DISCOVER .card1 img {
        width: 80px;
        padding: 0;
        
    }
    .AM-DISCOVER .card1 p , .AM-DISCOVER .card2 p{
        font-size: 12px;
    }
    
    .AM-DISCOVER .card2  {
        height: 96px;
        bottom: 185px;
    }
    .AM-DISCOVER .card1{
        height: 105px;
        right: 13%;
        top: 67%;
    }
    .AM-traning{
        flex-wrap: wrap;
    }
    .AM-traning .parentCard{
        margin-left: 0;
        flex-wrap: wrap;
    }
    .AM-traning .card .line::after{
        bottom: 69%;
    }
    .AM-DISCOVER .div1{
        width: 100%;
    }
    .AM-DISCOVER , .AM-traning {
        padding: 100px 12.5%}
    .AM-DISCOVER .div1 p{
        width: 60%;
        font-size: 12px;
    }
    .AM-DISCOVER .img{
        display: none;
    }
    .AM-traning h2{
        font-size: 2rem;
    }
        

}
