.FM-coursrs-section-3  {
    width: 100%;
    padding: 8.75% 0;
    background-color: var(--PrimaryColo);
    background-image: url(./image/MainPageImg/HeroImg/Hero_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.FM-coursrs-section-3-content {
    width: 75%;
    margin: 0 auto;
}
.FM-coursrs-section-3-content h2{
    color: var(--DarkPrimary);
    width: 42.26%;
    font-family: 'Inter';
    font-size: 2.48rem;
    font-weight: 700;
    margin-bottom: 3.8%;
}
.FM-ProjStd-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:1200px) {
    .FM-coursrs-section-3-content h2 {
        font-size: 2.2rem;
    }
}