.HH-train
{
    padding: 8.75% 12.5%;
}
.HH-train-h2
{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3.625rem;
    line-height: 70.19px;
    color: #19191C;
    margin-bottom: 4.25rem;
}