.AM-traning{
    padding: 168px 12.5% ;
    display: flex;
    justify-content: space-between;
}
.AM-traning h2{
    font-size: 3.625rem;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 70.19px;
}
.AM-traning .parentCard{
    display: flex;
    justify-content: space-evenly;
    
}
.AM-traning .parentCard {
    display: flex;
    gap: 30px;
    margin-left: 78px;
}
.AM-traning .card{
    position: relative;
    border: none;

}
  

.AM-traning .parentCard .cards .card p{
    color: #6D6D77;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    
}
.AM-traning .parentCard .cards{
    width: 38%;
}
.AM-traning .h2{
    width: 37%;
}

.AM-traning .parentCard .cards .card h3{
    font-size: 3.75rem;
    border-bottom: 4px solid black;
    font-weight: 700;
    font-family: 'Inter';
    padding-bottom: 28px;
}
@media (min-width:992px) and (max-width:1200px){
    .AM-traning {
        padding: 190px 12.5%;
        flex-wrap: wrap;
        gap: 30px;
        
    }
    .AM-traning .parentCard .cards .card h3 {
        font-size: 2.75rem;
    }
    .AM-traning .h2 h2 {
        font-size: 2.2rem;
        width: 25rem;
        line-height: normal;
    }
    .AM-traning .parentCard{
        margin-left: 0;
        justify-content: space-between;
    }
    .AM-traning .parentCard .cards .card p{
        font-size: 0.80rem;
        font-weight: 400;
        line-height: 20px;
    }
       
    
}
@media (min-width:768px) and (max-width:991px){
    
     .AM-traning {
        padding: 160px 12.5%;
    }
    
    .AM-traning .h2{
        
        width: 100%;
    }
    
 
    .AM-traning  {
        flex-wrap: wrap;
        gap: 40px;
    }
    .AM-traning .parentCard{
        margin-left: 0;
    }
    .AM-traning .h2 h2 {
        font-size: 2.2rem;
        width: 25rem;
        line-height: normal;
    }
    .AM-traning .parentCard .cards .card p{
        font-size: 0.80rem;
        font-weight: 400;
        line-height: 20px;
    }
    .AM-traning .parentCard .cards .card h3 {
        font-size: 2.2rem;
    }
    .AM-traning .parentCard{
        margin-left: 0;
        justify-content: space-between;
    }

}
@media (min-width:576px) and (max-width:767px){
    .AM-traning{
        flex-wrap: wrap;
        gap: 17px;
        padding-top: 100px;
        padding-bottom: 100px;
        

    }
    .AM-traning .parentCard{
        margin-left: 0;
        justify-content: space-between;
    }
    .AM-traning .h2{
        
        width: 100%;
    }
    
    .AM-traning .parentCard .cards {
        width: 50%;
    }
    .AM-traning .parentCard .cards .card p{
        
    }
    .AM-traning .h2 h2{
        font-size: 1.5rem;
        width: 15rem;
        line-height: normal;
    }
    .AM-traning .parentCard .cards .card h3 {
        font-size: 1.5rem;
    }
   
}
@media (min-width:300px) and (max-width:575px){
    .AM-traning .parentCard{
        margin-left: 0;
        flex-wrap: wrap;
    }
    .AM-traning .h2{
        
        width: 100%;
     
    }
    
  
    .AM-traning .parentCard .cards {
        width: 100%;
    }
    .AM-traning{
        flex-wrap: wrap;
        gap: 17px;
        padding: 60px 12.5%;
    }
    .AM-traning .parentCard .cards .card p{
        font-size: 0.80rem;
        font-weight: 400;
        line-height: 20px;
    }
    .AM-traning .h2 h2{
        font-size: 1.5rem;
        width: 15rem;
        line-height: normal;
    }
    .AM-traning .parentCard .cards .card h3 {
        font-size: 1.5rem;
    }
}
