.AM-traning{
    padding: 168px 12.5% ;
    display: flex;
    justify-content: space-between;
}
.AM-traning h2{
    
    font-size: 4.5rem;
    font-size: 3.625rem;
    
}
.AM-traning .parentCard{
    display: flex;
    justify-content: space-evenly;
    
}
.AM-traning .parentCard {
    display: flex;
    gap: 30px;
    margin-left: 78px;
}
.AM-traning .card{
    position: relative;
    border: none;

}
.AM-traning .parentCard .cards .card .line::after{

    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: black;
    bottom: 52%;
    right: 0;
        
}
.AM-traning .parentCard .cards .card p{
    color: #6D6D77;
    
}
.AM-traning .parentCard .cards{
    width: 38%;
}
.AM-traning .h2{
    width: 40%;
}

.AM-traning .parentCard .cards .card h3{
    font-size: 3.75rem;
}
@media (min-width:992px) and (max-width:1200px){
    .AM-traning {
        padding: 190px 12.5%;
        flex-wrap: wrap;
        gap: 30px;
        
    }
    .AM-traning .h2{
        width: 100%;
        text-align: center;
    }
    .AM-traning .parentCard{
        margin-left: 0;
    }
       
    
}
@media (min-width:768px) and (max-width:991px){
    
     .AM-traning {
        padding: 160px 2.5%;
    }
    
    .AM-traning .h2{
        text-align: center;
        width: 100%;
    }
    .AM-traning .card .line::after {
        bottom: 69%;
    }
 
    .AM-traning  {
        flex-wrap: wrap;
        gap: 40px;
    }
    .AM-traning .parentCard{
        margin-left: 0;
    }
   


}
@media (min-width:567px) and (max-width:767px){
    .AM-traning{
        flex-wrap: wrap;
        gap: 17px;
        padding-top: 100px;
        padding-bottom: 100px;
        

    }
    .AM-traning .parentCard{
        margin-left: 0;
        justify-content: space-between;
    }
    .AM-traning .h2{
        text-align: center;
        width: 100%;
    }
    .AM-traning .card .line::after{
        bottom: 70%;
    }
    .AM-traning .parentCard .cards {
        width: 50%;
    }
    

   
}
@media (min-width:300px) and (max-width:566px){
    .AM-traning .parentCard{
        margin-left: 0;
        justify-content: space-between;
    }
    .AM-traning .h2{
        text-align: center;
        width: 100%;
    }
    .AM-traning .card .line::after{
        bottom: 70%;
    }
    .AM-traning .parentCard .cards {
        width: 50%;
    }
    .AM-traning{
        flex-wrap: wrap;
        gap: 17px;
        padding: 60px 12.5%;
    }
}
